.wrapper,
.active
  position: fixed
  top: 0
  right: 0
  z-index: 2000
  width: 310px
  height: 100vh
  padding: 26px 10px
  text-align: center
  background: #FFFFFF
  overflow: auto

  @media (max-width: 1200px)
    transform: translateX(100%)
    transition: 0.2s linear

.active
  transform: translateX(0)
  transition: 0.2s linear