.wrapper
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

  @media (max-width: 480px)
    margin-top: 20px

  .header
    width: 100%
    margin-bottom: 20px

    .title
      font-size: 24px
      font-weight: 500
      line-height: 30px
      text-align: center
      width: 100%
      padding: 10px 98px
      background-color: #DEE0E0FF
      border-radius: 5px
      margin-bottom: 10px

    .subTitle
      font-size: 16px
      color: #A4ACAD
      margin-bottom: 10px
      cursor: pointer
      transition: 0.2s linear
      -webkit-tap-highlight-color: transparent

      &:hover
        color: darken(#A4ACAD, 10%)

    .product
      width: 100%
      height: 57px
      display: flex
      align-items: center
      margin-bottom: 20px

      .img
        width: 25%
        height: 100%
        object-fit: cover

      .info
        width: 75%
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-left: 10px

        .productName
          line-height: 22px
          margin-bottom: 10px
          overflow: hidden

        .optionals
          display: flex
          align-items: center

          .bntCount
            display: inline
            width: 20px
            height: 20px
            cursor: pointer
            -webkit-tap-highlight-color: transparent

          .productCount,
          .productPrice
            font-size: 20px
            font-weight: 700
            line-height: 23px
            margin: 0 8px

            @media (max-width: 350px)
              font-size: 16px

      img
        display: block
        width: 20px
        height: 20px
        cursor: pointer
        -webkit-tap-highlight-color: transparent

  .footer
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

    .productPriceTotal
      font-size: 24px
      font-weight: 700
      line-height: 30px
      margin-bottom: 10px

      @media (max-width: 350px)
        font-size: 20px

    .btnSendOrder
      width: 100%
      text-align: center
      padding: 5px 0
      background-color: #F46D40
      border: 1px solid #FFFFFF
      color: #FFFFFF
      border-radius: 5px
      font-weight: 400
      font-size: 24px
      line-height: 30px
      cursor: pointer
      transition: 0.2s linear
      margin-bottom: 26px

      &:hover
        background-color: darken(#F46D40, 10%)

      &:active
        background-color: #FFFFFF
        color: #F46D40
        border: 1px solid #F46D40
        transform: translateY(-1px)