.container
  min-height: calc(100vh - 100px)
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 0 auto
  padding: 0 330px 0 200px
  background-color: #F2F2F2

  @media (min-width: 1201px) and (min-width: 1366px)
    width: 100%
    min-width: 1021px
    max-width: 1345px
    padding-left: 250px

  @media (min-width: 769px) and (max-width: 1200px)
    width: 100%
    min-width: 765px
    max-width: 1180px
    padding-right: 25px
    margin: 0

  @media (min-width: 736px) and (max-width: 768px)
    width: 100%
    min-width: 732px
    max-width: 760px
    padding-right: 25px
    margin: 0

  @media (min-width: 481px) and (max-width: 735px)
    width: 100%
    min-width: 470px
    max-width: 730px
    padding-right: 25px
    padding-left: 25px
    margin: 0